<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- https://logback.qos.ch/manual/configuration.html -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%date %-5level %logger{39} [%thread] [%file:%line] - %msg%n%ex{full}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <!-- Create a new log file at each new application launch. -->
    <timestamp key="startTimestamp" datePattern="yyyy-MM-dd-(HH-mm-ss.SSS)"/>
    <appender name="File"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg \(%file:%line\)%n</Pattern>
        </layout>

        <file>logs/insight-${startTimestamp}.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>insight-${startTimestamp}-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <!-- keep 7 days' worth of history -->
            <maxHistory>7</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="Mail" class="ch.qos.logback.classic.net.SMTPAppender">
        <asynchronousSending>false</asynchronousSending>
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>465</smtpPort>
        <username>vitalyx@gmail.com</username>
        <password>kcoomuicctzglszn</password>
        <SSL>true</SSL>
        <from>insight@vitalyk.com</from>
        <to>vitalyx@gmail.com</to>
        <subject>Insight: Error Log</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{39} [%thread] [%file:%line] - %msg%n%ex{full}</pattern>
        </layout>
        <!--Thanks to ThresholdFilter with level set to ERROR we are sure that-->
        <!--even if root level will be changed – only error mails will be sent.-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <!-- send just one log entry per email -->
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="File" />
        <appender-ref ref="Mail" />
    </root>

</configuration>