<configuration>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="Mail" class="ch.qos.logback.classic.net.SMTPAppender">
        <asynchronousSending>false</asynchronousSending>
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>465</smtpPort>
        <username>vitalyx@gmail.com</username>
        <password>kcoomuicctzglszn</password>
        <SSL>true</SSL>
        <from>insight@vitalyk.com</from>
        <to>vitalyx@gmail.com</to>
        <subject>Insight: Error Log</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{39} [%file:%line] - %msg%n%ex{full}</pattern>
        </layout>
        <!--Thanks to ThresholdFilter with level set to ERROR we are sure that-->
        <!--even if root level will be changed – only error mails will be sent.-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <cyclicBufferTracker class="ch.qos.logback.core.spi.CyclicBufferTracker">
            <!-- send just one log entry per email -->
            <bufferSize>1</bufferSize>
        </cyclicBufferTracker>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console" />
        <appender-ref ref="Mail" />
    </root>

</configuration>